** {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f5f5f5;
}

/* NAVBAR */
.menu {
    background: linear-gradient(to right, #ff8c00, #d35400);
    padding: 15px 30px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
    margin-left: 10px;
}

/* HERO */
.hero {
    background: url("https://picsum.photos/1200/300") center/cover;
    color: white;
    text-align: center;
    padding: 70px 20px;
    margin: 20px;
    border: 3px solid #ccc;
}

/* COMMON BOX */
.box {
    background: white;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ff8c00;
}

/* LIST */
ul {
    padding-left: 20px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: white;
    border: 2px solid #ff8c00;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    border-top: 2px solid #aaa;
    background: #eee;
}