
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f8f8;
}

.products {
    text-align: center;
    padding: 40px;
}

.products h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.menu span {
    margin: 0 10px;
    color: #777;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    background: #e9eef0;
    width: 220px;
    padding: 20px;
    border-radius: 15px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.card h3 {
    margin: 10px 0;
}

.stars {
    color: gold;
    font-size: 18px;
}

.price {
    font-weight: bold;
}

.btn {
    margin-top: 30px;
    padding: 10px 25px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}