* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contener {
   
    display: flex;
    justify-content: space-evenly;
    padding: 200px;
}
title{
    background-color: white;
}

.switch {
    appearance: none;
   background-color:white;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: linear-gradient(blue, rgba(255, 0, 0, 0.054));
}

.switch::after {
    content: " ";
    display: inline-block;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/550/848/original/sun-icon-vector.jpg");
    background-position: center;
    background-size: contain;
    transition: all 0.4s linear;
}

.switch:checked::after {
    margin-left: 50px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/016/774/614/large_2x/moon-icon-on-transparent-background-free-png.png");
    background-repeat: no-repeat;
}

.switch:checked~main {
    background-color: black;
    color: white;
}


    

body {
    background-color: #eff0f8; 
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.logo{
  
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 8%;
    min-height: 80vh;
}

.hero-content {
    max-width: 500px;
}

.hero-content h1 {

    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-content p {
    color: #aaa;
    margin-bottom: 30px;
    line-height: 1.6;
}


.search-bar {
    background: white;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    width: 100%;
}

.search-bar input {
    border: none;
    padding: 10px 15px;
    flex: 1;
    outline: none;
}

.search-bar button {
    background: #3898ff;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-image img {
    width: 450px;
    filter: drop-shadow(0 0 20px rgba(255,255,255,0.1));
}


.brands {
    display: flex;
    justify-content: space-around;
    padding: 50px 8%;
    background-color: 
    color #2e2b2b;
}

.brand-card {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 300px;
}

.brand-card img {
    width: 60px;
}

.brand-card h3 {
    margin-bottom: 5px;
}

.brand-card p {
    font-size: 13px;
    color: #f8f3f3;
}