*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contener{
    max-width: 12000px;
    width: 100%;
    padding: 20px;
}

.service-card{
    max-width: 900px;
    background-color: antiquewhite;
    padding: 30px;
    gap: 20px;
}
.service-cards{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.service-card img{
    width: 100%;
}
@media (max-width:1285px) {
.service-cards{
grid-template-columns: repeat(3 , 1fr);
}
}
@media (max-width:1100px) {
.service-cards{
grid-template-columns: repeat(2 , 1fr);
}
}@media (max-width:743px) {
.service-cards{
grid-template-columns: repeat(1 , 1fr);
}
}

