* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f8f8;
    color: #222;
}


.features {
    padding: 50px;
    text-align: center;
}

.features-box {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.feature {
    background: #fff;
    padding: 20px;
    flex: 1;
    border-radius: 5px;
}


.products {
    padding: 50px;
}

.product-box {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}





.popular {
    padding: 50px;
}

.popular-box {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.popular-box img {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 30px;
}