*
.bbb{ background-color: orange;}

.hhh{
    background-color: orange;
    padding: 35px;
}
button{background-color: orange;}

.rasm{background-image:url('https://suret.pics/uploads/posts/2023-09/1695366146_1-3.jpg') ;
width: 5000px;
height: 300px;}

.ppp{color: white;}
