*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    text-transform: uppercase;
    text-decoration-color: rgb(183, 112, 25);
    text-decoration:underline;
    text-shadow: 2px 2px 2px #a02e2e ;

}
.salom{
    margin: 30px;
    text-shadow: 2px 3px 4px #0cb63c;
}
.link{
text-shadow: 2px 4px 4px #160894;
    letter-spacing: 15px;
    word-spacing: 4px;

}





    